name: Check documentation status

on:
  workflow_call:
  push:
    # master is covered by the `release` workflow
    branches-ignore:
      - 'master'
    tags-ignore:
      - '**'

jobs:
  check_docs:
    name: Check whether documentation is up-to-date
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.8

    - name: Install dependencies
      run: make install-dev

    - name: Check docs building
      run: make check-docs
