name: Build and deploy docs

on:
  push:
    branches:
      - master
      - docs-v2
  workflow_dispatch:

jobs:
  build_and_deploy_docs:
    environment:
      name: github-pages
    permissions:
      contents: write
      pages: write
      id-token: write
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
      with:
        token: ${{ secrets.APIFY_SERVICE_ACCOUNT_GITHUB_TOKEN }}

    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 16
        cache: npm
        cache-dependency-path: website/package-lock.json

    - name: Install Node.js dependencies
      run: |
        npm install
        npm update @apify/docs-theme
      working-directory: ./website

    # We do this as early as possible to prevent conflicts if someone else would push something in the meantime
    - name: Commit the updated package.json and lockfile
      run: |
        git config user.name 'GitHub Actions'
        git config user.email 'github-actions[bot]@users.noreply.github.com'
        git add website/package.json
        git add website/package-lock.json
        git diff-index --quiet HEAD || git commit -m 'chore: Automatic theme updating workflow [skip ci]'
        git push

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.8

    - name: Install Python dependencies
      run: make install-dev

    - name: Build generated API reference
      run: make build-api-reference

    - name: Build Docusaurus docs
      run: npm run build
      working-directory: ./website

    - name: Set up GitHub Pages
      uses: actions/configure-pages@v3

    - name: Upload GitHub Pages artifact
      uses: actions/upload-pages-artifact@v1
      with:
        path: ./website/build

    - name: Deploy artifact to GitHub Pages
      uses: actions/deploy-pages@v1

    - name: Invalidate CloudFront cache
      run: gh workflow run invalidate.yaml --repo apify/apify-docs-private
      env:
        GITHUB_TOKEN: ${{ secrets.APIFY_SERVICE_ACCOUNT_GITHUB_TOKEN }}
