name: Lint and type checks

on:
  workflow_call:

jobs:
  lint_and_type_checks:
    name: Lint and type checks
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11"]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: make install-dev

      - name: Run lint
        run: make lint

      - name: Run type checks
        run: make type-check
