name: Code quality checks

on:
  pull_request:

jobs:
  lint_and_test:
    name: Run lint and unit tests
    uses: ./.github/workflows/lint_and_test.yaml

#  check_docs:
#    name: Check whether the documentation is up to date
#    uses: ./.github/workflows/check_docs.yaml

#  integration_tests:
#    name: Run integration tests
#    needs: [lint_and_test, check_docs]
#    uses: ./.github/workflows/integration_tests.yaml
#    secrets: inherit
