name: Run code checks

on:
  # Trigger code checks on opening a new pull request.
  # Secrets are only made available to the integration tests job, with a manual approval
  # step required for PRs from forks. This prevents their potential exposure.
  pull_request:

  # Trigger for pushing to the master branch is handled by the pre-release workflow.

  # It should also be possible to trigger checks manually
  workflow_dispatch:

jobs:
  actions_lint_check:
    name: Actions lint check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Run actionlint
        uses: rhysd/actionlint@v1.7.9

  lint_check:
    name: Lint check
    uses: apify/workflows/.github/workflows/python_lint_check.yaml@main
    with:
      python-versions: '["3.10", "3.11", "3.12", "3.13", "3.14"]'

  type_check:
    name: Type check
    uses: apify/workflows/.github/workflows/python_type_check.yaml@main
    with:
      python-versions: '["3.10", "3.11", "3.12", "3.13", "3.14"]'

  unit_tests:
    name: Unit tests
    uses: apify/workflows/.github/workflows/python_unit_tests.yaml@main
    secrets: inherit
    with:
      python-versions: '["3.10", "3.11", "3.12", "3.13", "3.14"]'
      operating-systems: '["ubuntu-latest", "windows-latest"]'
      python-version-for-codecov: "3.14"
      operating-system-for-codecov: ubuntu-latest

  docs_check:
    name: Docs check
    uses: apify/workflows/.github/workflows/python_docs_check.yaml@main
    secrets: inherit

  integration_tests:
    name: Integration tests
    uses: apify/workflows/.github/workflows/python_integration_tests.yaml@main
    secrets: inherit
    with:
      python-versions: '["3.10", "3.14"]'
      operating-systems: '["ubuntu-latest"]'
      python-version-for-codecov: "3.14"
      operating-system-for-codecov: ubuntu-latest
