name: Run code checks

on:
  # Trigger code checks on opening a new pull request.
  # Secrets are only made available to the integration tests job, with a manual approval
  # step required for PRs from forks. This prevents their potential exposure.
  pull_request:

  # Trigger for pushing to the master branch is handled by the pre-release workflow.

  # It should also be possible to trigger checks manually
  workflow_dispatch:

jobs:
  lint_check:
    name: Lint check
    uses: apify/workflows/.github/workflows/python_lint_check.yaml@main
    with:
      python-versions: '["3.10", "3.11", "3.12", "3.13"]'

  type_check:
    name: Type check
    uses: apify/workflows/.github/workflows/python_type_check.yaml@main
    with:
      python-versions: '["3.10", "3.11", "3.12", "3.13"]'

  unit_tests:
    name: Unit tests
    uses: apify/workflows/.github/workflows/python_unit_tests.yaml@main
    with:
      python-versions: '["3.10", "3.11", "3.12", "3.13"]'

  docs_check:
    name: Docs check
    uses: apify/workflows/.github/workflows/python_docs_check.yaml@main
    secrets: inherit

  integration_tests:
    name: Integration tests
    uses: apify/workflows/.github/workflows/python_integration_tests.yaml@main
    secrets: inherit
    with:
      python-versions: '["3.10", "3.13"]'
